@using EESV2.DAL.Services.Interfaces
@using MD.PersianDateTime.Core
@model List<UserRankViewModel>
@{
    UserRankViewModel userRank = Model.FirstOrDefault(u=>u.PersonnelCode==User.Identity.Name);


    ViewData["Title"] = "خانه";
    ViewData["page"] = "HOME";
    Layout = "Layout";
}

<!-- DataTables -->
<!-- babakhani datepicker -->
<link rel="stylesheet" href="~/dist/css/persian-datepicker-0.4.5.min.css" />

<link rel="stylesheet" href="~/dist/css/animate.css">
<script src="~/dist/js/wow.min.js"></script>
<link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<div class="content-wrapper" style="min-height: 915.8px;">
    <section class="content-header">
        <h1 class="wow animate__animated animate__lightSpeedInRight">
            خانه
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fas fa-home"></i> خانه</a></li>
            
        </ol>
    </section>

    <section class="content">

        <div class="box wow animate__animated animate__zoomInDown" data-wow-delay=".3s" data-wow-duration=".6s">
            <div class="box-header with-border ">
                <h3 style="padding:7px 0 7px 0" class="box-title col-md-6">رتبه بندی 10 پرسنل برتر پیشنهاد دهنده در سال</h3>
                <div class="form-group col-md-6">
                    <form method="get" id="formDate">
                        <input onchange="OnChangeDate()" type="text" class="form-control pull-right persianDatepicker pwt-datepicker-input-element" id="Date" name="Date" value="">
                    </form>
                </div>
            </div>
            <div class="box-body">
                <div class="box-body table-responsive no-padding ">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>رتبه</th>
                                <th>نام خانوادگی</th>
                                <th>نام</th>
                                <th>واحد</th>
                                <th>تعداد پیشنهاد</th>
                                <th>امتیاز</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var urVM in Model.Where(u=>u.Rank<=10).Take(10))
                            {
                            <tr>
                                <td>@urVM.Rank</td>
                                <td>@urVM.LastName</td>
                                <td>@urVM.FirstName</td>
                                <td>@urVM.Office</td>
                                <td>@urVM.ProposalCount</td>
                                <td style="direction:ltr;display:flex;justify-content:right">@urVM.Score</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div style="margin-top:10px" class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="info-box wow animate__animated animate__zoomInDown" data-wow-delay=".3s">
                            <span class="info-box-icon bg-red1 wow animate__animated animate__pulse" data-wow-iteration="32"><i class="fa fa-id-card "></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">امتیاز شما:</span>
                                <span class="info-box-number wow animate__animated animate__bounceIn" data-wow-iteration="4">@userRank.Score</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="info-box  wow animate__animated animate__zoomInDown" data-wow-delay=".3s">
                            <span class="info-box-icon bg-red2 wow animate__animated animate__pulse" data-wow-iteration="32"><i class="fa fa-balance-scale "></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">رتبه شما:</span>
                                <span class="info-box-number wow animate__animated animate__bounceIn" data-wow-iteration="4">@userRank.Rank</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- DataTables -->
<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    new WOW().init();
    $(function () {
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[0, 'asc']],
            'lengthMenu': [[5, 25, 50, -1], [5, 25, 50, "همه"]],
            'language': {
                'zeroRecords': 'رکوردی برای نمایش وجود ندارد',
                'lengthMenu': 'نمایش _MENU_ رکورد در یک صفحه',
                'search': 'جستجو در تمام ستون ها : ',
                'info': 'تعداد کل رکوردها :   _TOTAL_',
                'infoFiltered': '',
                "infoEmpty": '',
                "paginate": {
                    "first": "اولین",
                    "last": "آخرین",
                    "next": "بعدی",
                    "previous": "قبلی"
                },
            }
        })
    })
</script>
<script>
    function YearChange(element) {
        var url = new URL(window.location.href);
        url.searchParams.set("Year", element.value)
        window.location.href = url;
    }
</script>
<!--WOW().init();-->
<script>
    new WOW().init();
</script>

<!-- babakhani datepicker -->
<script src="~/dist/js/persian-date-0.1.8.min.js"></script>
<script src="~/dist/js/persian-datepicker-0.4.5.min.js"></script>
<script>
    $(document).ready(function () {
        let forms = document.getElementsByTagName("form");
        for (let form of forms) {
            form.addEventListener('submit', (e) => {
                e.preventDefault();
                let persianDatepickers = form.getElementsByClassName("persianDatepicker");
                for (let persianDatepicker of persianDatepickers) {
                    let enNumbers = fixNumbers(persianDatepicker.value);
                    persianDatepicker.value = enNumbers;
                }
                e.target.submit();
            })
        }
        $('.persianDatepicker').persianDatepicker({
            initialValueType: 'persian',
            persianDigit: false,
            format: 'YYYY',
            observer: true,
            timePicker: {
                enabled: false
            },
            viewMode: 'year',
            initialValue: false,
            checkYear: function (year) {
                return year >= 1391;
            }

        });
        function fixNumbers(str) {
            let persianNumbers = [/۰/g, /۱/g, /۲/g, /۳/g, /۴/g, /۵/g, /۶/g, /۷/g, /۸/g, /۹/g];
            let arabicNumbers = [/٠/g, /١/g, /٢/g, /٣/g, /٤/g, /٥/g, /٦/g, /٧/g, /٨/g, /٩/g];
            if (typeof str === 'string') {
                for (var i = 0; i < 10; i++) {
                    str = str.replace(persianNumbers[i], i).replace(arabicNumbers[i], i);
                }
            }
            return str;
        };
    });
</script>

<script>
function OnChangeDate(){
        $("#formDate").submit();
 }

</script>
@if (!String.IsNullOrEmpty(Context.Request.Query["Date"].ToString()))
{
    <script>
        document.getElementById("Date").value = @(Context.Request.Query["Date"].ToString());
    </script>
}
else
{
    PersianDateTime pd = new PersianDateTime(DateTime.Now);

    <script>
        document.getElementById("Date").value = @(pd.Year);
    </script>
}