@inject IUnitOfWork _uw
@{

    List<Objection> objections = _uw.ObjectionRepository.Get(include:s=>s
                                                            .Include(o=>o.User)).ToList();
    ViewData["page"] = "OM";
    ViewData["Title"] = "مدیریت اعتراضات";
    Layout = "Layout";
}


<style>
    td > a {
        text-decoration: underline;
    }
</style>

<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<!-- DataTables -->
<link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<link rel="stylesheet" href="~/dist/css/animate.css">
<script src="~/dist/js/wow.min.js"></script>

<div class="content-wrapper" style="min-height: 915.8px;">
    <section class="content-header">
        <h1 class="wow animate__animated animate__lightSpeedInRight">
            اعتراضات
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fas fa-home"></i> خانه</a></li>
            <li><a href="#">مدیریت نظام مشارکت</a></li>
            <li class="active">اعتراضات</li>
        </ol>
    </section>

    <section class="content wow animate__animated animate__zoomInDown" data-wow-delay=".3s">
        <div class="box">
            <div class="box-body table-responsive pad">
                    <table id="DataTable1" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>تاریخ</th>
                                <th>کد اعتراض</th>
                                <th>کد پیشنهاد</th>
                                <th>شماره پرسنلی</th>
                                <th>نام و نام خانوادگی</th>
                                <th>دلایل</th>
                                <th>نتیجه</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Objection in objections)
                            {
                                <tr>
                                    <td>@Objection.Date</td>
                                    <td>@Objection.ID</td>
                                    <td>
                                        <a target="_blank" href="/proposal/Review?proposalID=@Objection.ProposalID">@Objection.ProposalID</a>
                                    </td>
                                    <td>@Objection.User.Username</td>
                                    <td>@(Objection.User.FirstName+" "+Objection.User.LastName)</td>
                                    <td>@Html.Raw(Objection.Reasons)</td>
                                    <td id="@Objection.ID">
                                        @if (String.IsNullOrEmpty(Objection.Result))
                                        {
                                            <a onclick="replay('@Objection.ID')">پاسخ</a>
                                        }
                                        else
                                        {
                                            <div>
                                                @Html.Raw(@Objection.Result)
                                            </div>
                                            <span>(</span>
                                            <a onclick="Edit('@Objection.ID',this)">ویرایش</a>
                                            <span>)</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

            </div>
        </div>
        <form onsubmit="FormSubmitFunction(event)" id="editor" style="display:none" method="post">
            <div class="box-header ">
                <h4>پاسخ</h4>
            </div>
            <div class="box-body">
                <textarea name="Result" id="Result" style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
            </div>
            <div style="direction:ltr;padding:10px">
                <input type="submit" value="ثبت پاسخ" class="btn btn-success" />
            </div>
        </form>
    </section>
</div>


<!-- CK Editor -->
<script src="~/bower_components/ckeditor/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<!--<script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>-->
<!-- TinyMCE Editor -->
<script src="~/bower_components/tinymce/tinymce.min.js"></script>
<script>
    new WOW().init();
    tinymce.init({
        selector: 'textarea#Result',
        plugins: 'advlist autolink link lists preview table code pagebreak',
        menubar: false,
        language: 'fa',
        height: 100,
        relative_urls: false,
        toolbar: 'undo redo | removeformat preview code | fontsizeselect bullist numlist | alignleft aligncenter alignright alignjustify | bold italic | pagebreak table link',
    });
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('editor1')
        //bootstrap WYSIHTML5 - text editor
        $('.textarea').wysihtml5()
    })

</script>


<!-- DataTables -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $('#DataTable1').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "order": [[1, 'desc']],
            'lengthMenu': [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "همه"]],
            'language': {
                'zeroRecords': 'رکوردی برای نمایش وجود ندارد',
                'lengthMenu': 'نمایش _MENU_ رکورد در یک صفحه',
                'search': 'جست و جو در تمام ستون ها : ',
                'info': 'تعداد کل رکورد ها :   _TOTAL_',
                'infoFiltered': '',
                "infoEmpty": '',
                "paginate": {
                    "first": "اولین",
                    "last": "آخرین",
                    "next": "بعدی",
                    "previous": "قبلی"
                },
            }
        })
    })
</script>

@*هنگام کیک روی پاسخ  یا ویرایش این متد ها فراخانی می شود*@
<script>
    function replay(ObjectionID) {
        let editor = document.getElementById("editor");
        editor.style.display = "block";
        editor.action = "/Secretary/Objection/Answer?ObjectionID=" + ObjectionID;
        tinymce.get("Result").setContent("");
    }
    function Edit(ObjectionID, element) {
        let editor = document.getElementById("editor");
        editor.style.display = "block";
        editor.action = "/Secretary/Objection/Answer?ObjectionID=" + ObjectionID;
        tinymce.get("Result").setContent(element.parentNode.children[0].innerHTML);
    }
</script>
@* این اسکریپت برای ثبت پاسخ استفاده می شود *@
<script>
    function FormSubmitFunction(event) {
        event.preventDefault();
        var Result = tinymce.get("Result").getContent();
        $.ajax({
            url: event.target.action,
            method: event.target.method,
            data: { "Result": Result },
            statusCode: {
                200: (ObjectionIDThatRegestered) => {
                    tinymce.get("Result").setContent("");
                    event.target.style.display = "none";
                    let replayInTable = document.getElementById(ObjectionIDThatRegestered);
                    if (Result == "") {
                        replayInTable.innerHTML = "<a>پاسخ</a>"
                        replayInTable.getElementsByTagName("a")[0].onclick = () => (replay(ObjectionIDThatRegestered));
                    }
                    else {
                        replayInTable.innerHTML = `<div>
                                                                                        `+ Result + `
                                                                                  </div>
                                                                                  <span>(</span>
                                                                                   <a>ویرایش</a>
                                                                                  <span>)</span>
                                                                                `;
                        replayInTable.getElementsByTagName("a")[0].onclick = () => (Edit(ObjectionIDThatRegestered, replayInTable.getElementsByTagName("a")[0]));

                    }
                }
            },
            error: (res) => {
                alert("متأسفانه خطایی رخ داده است.");
            }
        });
    }
</script>


